.project-card {
  height: fit-content;
  background-color: #256d85;
  color: #fff;
  font-size: 18px;
  transition: all 0.35s ease-in-out;
}

.project-card:hover {
  background-color: #205375;
}

.project-image {
  height: 450px;
  width: 100%;
  object-fit: cover;
  object-position: top center;
  cursor: pointer;
}

.all-technology {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 1rem 0;
}

.technology {
  background-color: #2a404b;
  padding: 5px 10px;
  border-radius: 5px;
}
